# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore the Agents.md files
**/AGENTS.md

# Ignore ElixirLS files
.elixir_ls/

# Output files from processing 
output/reporte_output.txt

# Ignore tests integration files
test_integration.exs
test_upload.exs
test_multiple_upload.exs
test_modes.exs
test_upload_now.exs